Django==2.2.24
MySQL-python==1.2.5
argparse==1.2.1
chardet==2.1.1
django-appconf==0.6
django-csvimport==2.4
json-table-schema==0.1
lxml==3.4.1
messytables==0.14.1
python-dateutil==1.5
python-magic==0.4.6
requests==2.4.3
six==1.8.0
wsgiref==0.1.2
xlrd==0.9.3
