{% extends 'base.html' %}

{% block header%}
    <h1> Scilab Arduino Workshop 2015 </h1>
{% endblock %}
{% block content %}
<form  action="{% url 'certificate:arduino_feedback' %}" method="post" style="width:1000px">

        <div style="padding-left:100px;width:940px;text-align:center;margin:0 auto;">
            <div align=center style="padding-left:200px">    <h1> Feedback </h1>
                <p>Your feedback will help us improve our services. Thank you for your time.</p>
            </div>

        {{ detail }}
        {% csrf_token %}
        <div style="padding-left:200px;text-align:left;" >
            <table class="table">
                {{ form }}
            </table>
                {% for question in questions %}
                <label>{{ forloop.counter }}. {{ question.question }} </label><br>
                    <textarea cols="80" class="form-control" id="{{ question.id }}" name="{{ question.id }}"></textarea><br>
                    {% endfor %}
              <span><button class="btn btn-primary" type="submit">Submit</button></span>
              <span style="float:right"><a href="{% url 'certificate:arduino_download' %}" >Skip feedback and download</a></span>
          </div>
    </div>
     </form>
    <hr>
{% endblock %}


