<html>
    <head>
        <title>
            {% block title %}
                FOSSEE Certificates
            {% endblock %}
        </title>
        {% block css %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        {% endblock  %}
        {% block js %}
            <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        {% endblock %}
        {% block javascript %}
            <!-- overide with custom javascript -->
        {% endblock %}
    </head>
    <body>
        <div class="container-full">

              <div class="row">
               
                <div class="col-lg-12 text-center v-center">
                  
                  <h1>FOSSEE</h1>
                  <hr>
                  {% block content %}
                  {% endblock %}
                </div>
                
              </div> <!-- /row -->
            <hr>
          	<br>
        </div> <!-- /container full -->
    </body>
</html>

