<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<h3 align="center">Contact FOSSEE</h3>

<div class="container">
  <form action="./contact" method="POST">
    {{form}}

<div class="g-recaptcha" data-sitekey="6LcDdk0UAAAAABBY5xQkDvwvbRrwVxGSxh09R9uf"></div>
   <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>

