{% extends 'base.html' %}

{% block header%}
    <h1> eSim Workshop 2016 </h1>
{% endblock %}
{% block content %}
<p> Your feedback will help us improve our services. Thank you for your time. </p>
    <div style = "width:50%; margin:auto">
    <ul class = "nav nav-list">
        <li><a href = "https://docs.google.com/forms/d/1nwS2e6tdx32nVVO91EbOzUI-h9BwFit3RabwPHjOvSs/viewform" target="_blank" >Feedback on eSim Workshop 2016</a></li>
    </ul>
    <br>
    <a class="btn btn-primary" style="float:right" href = "{% url 'certificate:esim_workshop_download' %}">Skip feedback and download</a>
   </div>
{% endblock %}

