{% extends 'base.html' %}

{% block header%}
    <h1> FOSSEE Certificates </h1>
{% endblock %}
{% block content %}
<div style="margin:auto; width:45%">
    <p>Below links will take you to a feedback form.<br> Please fill the feedback form and download your <b>e-certificate</b>.</h5></p>
        <ul class="nav nav-list">
          <li><a href="{% url 'certificate:esim_download' %}" >eSim Faculty Meet 2015</a></li>
          <li><a href="{% url 'certificate:arduino_google_feedback' %}" >Scilab Arduino Workshop 2015</a></li>
          <li><a href="{% url 'certificate:dwsim_feedback' %}" >DWSIM Workshop 2015</a></li>
          <li><a href="{% url 'certificate:tbc_freeeda_download' %}" >FreeEDA Textbook Companion</a></li>
          <li><a href="{% url 'certificate:drupal_feedback' %}" >Drupal Camp Mumbai 2015</a></li>
          <li><a href="{% url 'certificate:scipy_feedback' %}" >SciPy India Conference 2014</a></li>
          <li ><a href="{% url 'certificate:feedback' %}" >Scilab India Conference 2014</a></li>
        </ul>
    <div>
{% endblock %}


