{% extends 'base.html' %}

{% block header%}
    <h1> FOSSEE Certificates </h1>
{% endblock %}
{% block content %}
<div style="margin:auto;">
    <p>Below links will take you to a feedback form.<br> Please fill the feedback form and download your <b>e-certificate</b>.</h5>
      <div>
    </p>
        <ul class="nav nav-list">
          <li><a href="{% url 'certificate:python_workshop_download' %}" >Python Workshop</a></li>
          <li><a href="{% url 'certificate:openmodelica_feedback_2017' %}" >OpenModelica Workshop 2017</a></li>
          <li><a href="{% url 'certificate:nccps_feedback_2018' %}" >NCCPS Conference 2018</a></li>
          <li><a href="{% url 'certificate:scipy_feedback_2018' %}" >SciPy India Conference 2018</a></li>
          <li><a href="{% url 'certificate:scipy_feedback_2016' %}" >SciPy India Conference 2016</a></li>
          <li><a href="{% url 'certificate:drupal_workshop_download' %}" >Drupal Workshop</a></li>
          <li><a href="{% url 'certificate:esim_workshop_feedback' %}" >eSim Workshop 2016</a></li>
          <li><a href="{% url 'certificate:osdag_workshop_download' %}" >Osdag Workshop</a></li>
          <li><a href="{% url 'certificate:openfoam_symposium_feedback_2016' %}" >OpenFOAM Symposium 2016</a></li>
          <li><a href="{% url 'certificate:fossee_internship_cerificate_download' %}" >FOSSEE FELLOWSHIP Certificate</a></li>
          <li><a href="{% url 'certificate:scipy_feedback_2015' %}" >SciPy India Conference 2015</a></li>
          <li><a href="{% url 'certificate:esim_google_feedback' %}" >eSim Faculty Meet 2015</a></li>
          <li><a href="{% url 'certificate:arduino_google_feedback' %}" >Scilab Arduino Workshop 2015</a></li>
          <li><a href="{% url 'certificate:dwsim_feedback' %}" >DWSIM Workshop 2015</a></li>
          <li><a href="{% url 'certificate:tbc_freeeda_download' %}" >FreeEDA Textbook Companion</a></li>
          <li><a href="{% url 'certificate:drupal_feedback' %}" >Drupal Camp Mumbai</a></li>
          <li><a href="{% url 'certificate:scipy_feedback' %}" >SciPy India Conference 2014</a></li>
          <li><a href="{% url 'certificate:feedback' %}" >Scilab India Conference 2014</a></li>
          <li><a href="{% url 'certificate:scipy_feedback_2017' %}" >Scilab India Conference 2017 Feedback</a></li>
        </ul>
</div>
<div class="row" id="bottom" style="background-color: #373434">
            <div class="col-md-4">
                <br><br>
                <h4 style="color: #000000">Organized By:</h4>
                <img  height="52.99" width="142.986" src="http://fossee.in/sites/all/themes/software_responsive_theme/img/logo.png" >
                &nbsp; &nbsp;
                <img height="55" width="47" src="http://fossee.in/sites/all/themes/software_responsive_theme/img/iitb-logo.png">
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <br>
                <h3 style="color: #000000">Related Links</h3>
                <a href="http://fossee.in" target="_blank">fossee.in</a><br>
                <a href="http://yaksh.fossee.in" target="_blank">yaksh.fossee.in</a><br>
                <a href="http://python.fossee.in" target="_blank">python.fossee.in</a>
            </div>
            
            <div class="col-md-4" style="color: #000000">
                <h3>Contact Us</h3>
                FOSSEE, IIT-Bombay<br>
                Mumbai, India <br> 
                Phone: (+91) 22 2576 4133<br>
                Email: workshops[at]fossee[dot]in
                <div id="social" style="padding-bottom: 2%; padding-top: 2%">
                <a href="https://www.facebook.com/FOSSEENMEICT/" target="_blank" class="fa fa-facebook">
                  <img height="25" width="25" src="/static/img/fb.png" style="padding-right: 10px;padding-left: 10px;width: 45px;">
                </a> &nbsp;
                <a href="https://twitter.com/FOSSEENMEICT" target="_blank" class="fa fa-google">
                  <img height="25" width="25" src="/static/img/tw.png" style="padding-right: 10px; width: 35px;"/>
                </a> &nbsp;
                <a href="https://www.youtube.com/channel/UCMtt6exSCmZI7JU73S6Wz_A" target="_blank" class="fa fa-youtube">
                  <img height="25" width="25" src="/static/img/yt.png" style="padding-right: 10px; width: 35px;"/>
                </a>  <br>
                </div>
                </div>
        </div>
</div>
{% endblock %}
