{% extends 'base.html' %}

{% block header %}
    <h1> OpenModelica Conference 2017 </h1>
{% endblock %}

{% block content %}
<p> Your feedback will help us improve our services. Thank you for your time. </p>
    <div>
    <div class="embed-responsive embed-responsive-16by9" style="width:100%;height:2000px">
        <iframe class="embed-responsive-item" src=https://docs.google.com/forms/d/1KUx0xgkLEceiTFj4DBWf9ej971TbMjDPp81BKKeRqI0/viewform?edit_requested=true"></iframe> 
    </div>
    <br>
    <a class="btn  btn-lg btn-primary" style="float:right" href = "{% url 'certificate:openmodelica_download_2017' %}">Skip and access the certificate</a>
   </div>
{% endblock %}
