{% extends 'base.html' %}
{% block header%}
    <h1> Osdag Workshop Certificate</h1>
{% endblock %}
{% block content %}
          <div class="modal fade" id="invalidModal" tabindex="-1" role="dialog" aria-labelledby="invalidModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="invalidModalLabel">Invalid Category</h4>
                  </div>
                  <div class="modal-body">
                    The requested certificate is unavailable for your email address. Please select the appropriate category and retry.
                  </div>
                </div>
              </div>
          </div>
          <form class="col-lg-12" action="{% url 'certificate:osdag2019_certificate_download' %}" method="post">
            {% csrf_token %}
            {{ message }}
            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
            <input style="width:450;" class="form-control input-lg" placeholder="Enter the email address you used for registration" type="text" id="email" name=email>
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">Download Certificate</button></span>
            </div>
          </form>
          <center><h4>Problem in downloading the certificate? Write to us at <a href="mailto:certificates@fossee.in">certificates[at]fossee[dot]in</a></h4>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        value = "{{ v }}"
        email = ""
        error = "{{ error }}"
        if(error == "True"){
            $("#invalidModal").modal();
        }
        if(value == "paper"){
            $('#A').prop('checked', true)
            email = "{{ user_project.0.email }}";
        }
        $('#email').val(email);
        notreg = "{{ notregistered }}";
        if(notreg == "1"){
            $("#invalidModal").modal();
        }
        $("[name=type]").change(function(){
            $("#paper").remove();
        });
   });
</script>
{% endblock %}
