 {% extends 'base.html' %}

{% block header %}
    <h1>  Osdag Workshop </h1>
{% endblock %}

{% block content %}
<p> Your feedback will help us improve our services. Thank you for your time. </p>
    <div style = "width:50%; margin:auto">
    <ul class = "nav nav-list">
        <li><a href = "https://docs.google.com/forms/d/1X7TXaEhwUCpkZWXZMxoF4aywv1XUXNaKhfLpd1BC3w8/viewform?c=0&w=1&usp=mail_form_link" target = "popup" >Feedback on Osdag Workshop 2016</a></li>
    </ul>
    <br>
    <a class="btn btn-primary" style="float:right" href = "{% url 'certificate:osdag_workshop_download' %}">Skip feedback and download</a>
   </div>
{% endblock %}




