{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block header%}
    <h1> SciPy India Conference 2019 </h1>
{% endblock %}
{% block content %}
          <div class="modal fade" id="invalidModal" tabindex="-1" role="dialog" aria-labelledby="invalidModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="invalidModalLabel">Invalid Category</h4>
                  </div>
                  <div class="modal-body">
                    The requested certificate is unavailable for your email address. Please select the appropriate category and retry.
                  </div>
                </div>
              </div>
          </div>
          <div class="modal fade" id="notregModal" tabindex="-1" role="dialog" aria-labelledby="notregModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="notregModalLabel">Registration Error</h4>
                  </div>
                  <div class="modal-body">
                    The email id you have provided is not registred. Please provide a registered email id.
                  </div>
                </div>
              </div>
          </div>
          <div class="modal fade" id="duplicateModal" tabindex="-1" role="dialog" aria-labelledby="duplicateModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="duplicateModalLabel">Duplicate Registration Error</h4>
                  </div>
                  <div class="modal-body">
                    More than one record found for the given email id. Please contact certificates[at]fossee[dot]in
                  </div>
                </div>
              </div>
          </div>
          <form class="col-lg-12" action="{% url 'certificate:scipy_download_2019' %}" method="post">
            {% csrf_token %}
            {{ message }}
            <hr>
            <p>Please choose the appropriate category</p>
            <input type="radio" name="type" id="P" value="P" checked="True">Participant
            &nbsp;&nbsp;<input type="radio" name="type" id="A" value="A">Speaker
            &nbsp;&nbsp;<input type="radio" name="type" id="W" value="W">Workshop 
            <!--
             &nbsp;&nbsp;<input type="radio" name="type" id="T" value="T">TA -->
            <hr>
            <div id ="paper">
            {% if user_papers %}
                <span><h3>Papers presented</h3><span>
                        <div class="radio" style="padding-left:350px;text-align:left">
                {% for user in user_papers %}
                <input type="radio" name="paper" value="{{ user.paper }}">{{ user.paper }}<br>
                {% endfor %}
                </div>
            {% endif %}
        </div>
            
            <div class="input-group" style="width:60%;text-align:center;margin:0 auto;">
            <input style="width:100%;" class="form-control input-lg" placeholder="Enter the email address you used for registration" type="text" id="email" name=email>
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit" id = 'myBtn' data-toggle = "modal">Download Certificate</button></span>
           </div>
           <center><h4>Problem in downloading the certificate? Write to us at <a href="mailto:certificates@fossee.in">certificates[at]fossee[dot]in</a></h4>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 <h4 class="modal-title" id="myModalLabel">Certificate Mailed</h4>

              </div>
              <div class="modal-body">The certificate is mailed to your email id.</div>
                   
                   <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
            </div>
              </div>
              
              </form>
          
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        value = "{{ v }}"
        email = ""
        error = "{{ error }}"
        duplicate = "{{duplicate}}"
       
        if(error == "True"){
            $("#invalidModal").modal();
        }
        if(error == "False"){
            $("#myModal").modal();
        }
        if(duplicate == "True"){
            $("#duplicateModal").modal();
        }
        if(value == "paper"){
            $('#A').prop('checked', true)
            email = "{{ user_papers.0.email }}";
        }
        $('#email').val(email);
        notreg = "{{ notregistered }}";
        if(notreg == "1"){
            $("#notregModal").modal();
        }
        $("[name=type]").change(function(){
            $("#paper").remove();
        });
   });
</script>
{% endblock %}
