{% extends 'base.html' %}

{% block header %}
    <h1> SciPy India Conference 2016 </h1>
{% endblock %}

{% block content %}
<p> Your feedback will help us improve our services. Thank you for your time. </p>
    <div>
    <div class="embed-responsive embed-responsive-16by9" style="width:100%; height:auto">
        <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSc58NmRJFBtfdrkbDXCTcIX8IszHhqeOO5vPlmyLgxGJLJ8Yw/viewform">
</iframe>

    </div>
   </div>
<br>
 <a style="float:right" href = "{% url 'certificate:scipy_download_2016' %}">Skip and access the certificate</a>

{% endblock %}
