{% extends 'base.html' %}

{% block header %}
    <h1> SciPy India Conference 2018</h1>
{% endblock %}

{% block content %}
<p> Your feedback will help us improve our services. Thank you for your time. </p>
    <div>
    <div class="embed-responsive embed-responsive-16by9" style="width:100%;height:600px">
        <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSdeOh4WobZ64heqs7TQFkNNyODF1enTEp41f4RRaLAnIxohFg/viewform"></iframe>
    </div>
    <br>
    <a class="btn btn-lg btn-primary" style="float:right" href = "{% url 'certificate:scipy_download_2018' %}">Click here to download certificate</a>
   </div>
{% endblock %}
