{% extends 'base.html' %}
{% block header%}
    <h1> ST Workshop </h1>
{% endblock %}
{% block content %}
<style>
.radioLeft {
  padding-top:30px;
    display: block;
  text-align: left;
   padding-left: 10cm;
}
</style>
          <div class="modal fade" id="invalidModal" tabindex="-1" role="dialog" aria-labelledby="invalidModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="invalidModalLabel">Invalid User/Email</h4>
                  </div>
                  <div class="modal-body">
                      {% if notregistered == 1 %}
                        Please enter a proper email address or correct workshop date or type
                      {% endif %}
                  </div>
                </div>
              </div>
          </div>
          <div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="failModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="invalidModalLabel">Certificate not Awarded</h4>
                  </div>
                  <div class="modal-body">
                      {% if failed == 1 %}
                        As per our records, you're email id is not present in our database please contact info@fossee.in for further queries
                      {% endif %}
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
          </div>
          <form class="col-lg-12" action="{% url 'certificate:st_workshop_download' %}" method="post">
            {% csrf_token %}
            {{ message }}
            <hr>
            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
            <input style="width:450;" class="form-control input-lg" placeholder="Enter the email address you used for registration" type="text" id="email" name=email>
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">Download Certificate</button></span>
            </div><br>
            <div>
              <select name="format" onchange="myFunction(event)" required>
                <option disabled selected>Select the workshop category</option>
                <option value="scilab">Scilab Workshop</option>
                <option value="R19">R workshop</option>
                <option value="py19">Python workshop</option>
            </select>
            </div><br>
            <div id='WsDate'></div>

          </form>
          <center><h4>Problem in downloading the certificate? <a href="./contact">Write to us</a></h4>
          <center><h4>To get more details on upcoming workshops, follow us on<a href="https://www.facebook.com/FOSSEENMEICT/"> facebook</a></h4>
          <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="invalidModalLabel">Problem in downloading</h4>
                  </div>
                  <div class="modal-body">
                        Sorry could not process your certificate. Kindly contact the FOSSEE team.
                  </div>
                </div>
              </div>
          </div>
          <script>
              function myFunction(e) {
                var date_input;
                if (e.target.value === 'sel') {
                  date_input = 'Workshop month: <input id="myText" type="month" name="ws_date" value="2019-01" style="width:150;height:25" required>'
                }
                else {
                  date_input = 'Workshop date: <input id="myText" type="date" name="ws_date" value="2019-01-01" style="width:150;height:25" required>'
                  }
                document.getElementById("WsDate").innerHTML = date_input;
                }
          </script>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        error = "{{ error }}"
        if(error == "True"){
            console.log("edfed")
            $("#errorModal").modal();
        }
        notreg = "{{ notregistered }}";
        if(notreg == "1"){
            $("#invalidModal").modal();
        }
        if(notreg == "2"){
            $("#invalidModal").modal();
        }
        fail = "{{ failed }}";
        if(fail == "1"){
            $("#failModal").modal();
        }
   });
</script>

{% endblock %}
